<div class="login-area">
    <form action="/create" method="POST">
    <h2>Registration</h2>

    <div class="input-field">
      <input type="text" name="login" class="validate" id="login" required>
      <label for="login">login</label>
    </div>

    <div class="input-field">
      <input type="email" name="email" class="validate" id="email" required>
      <label for="email">Email</label>
    </div>
    
    <div class="input-field">
      <input name="password" type="password" id="password" class="validate" required>
      <label for="password">Password</label>
    </div>

    <button type="submit" class="btn">Registration</button>
  </form>
</div>